html, body{
  overflow-x:hidden;
  margin:0px;
  padding:0px;
}

.name {
	color: white;
	font-size: 120px;
	padding: 250px 0px 0px 60px;
	vertical-align: middle;
	text-align: center;
	font-family: "Open Sans";
  width:50%;
  margin: 0 auto;
}

.parallax-bg{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-space {
	background-image: url("img/bg.jpg");
	height:1000px;
}

.bg-transition {
	background-color: #0e0f11;
	height:400px;
}

.bg-sky {
	background-image: linear-gradient(to bottom, #0e0f11, #001b26, #002339, #002a4d, #002f5f, #013b72, #024785, #005499, #006eb1, #0088c8, #00a4dd, #0cbff0);
	height:1000px;
	background-attachment: scroll;
}

.footer{
  background-color:black;
  height:100px;
}

.intro{
  font-size:40px;
  color:white;
  text-align:left;
  position:relative;
  max-width:600px;
  min-width:400px;
  height:350px;
  width:50%;
  top:10%;
  margin: 0 auto;
  padding-top:1px;
}

.imglinks{
  width:50px;
  height:50px;
  -webkit-filter:invert(100%);
  padding-right:10px;
  padding-left:10px;
}

.carousel-container {
  padding: 50px;
  display: flex;
  text-align: center;
  position: relative;
  height: 450px;
  top: 25%;
  max-width: 900px;
  min-width: 700px;
  margin: 0 auto;
}

.carousel-card {
  height: 500px;
  width: 400px;
  padding: 20px;
  transition: 1s;
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: #006eb1;
  color: #FFF;
  cursor: pointer;
  box-shadow: 1px 2px 3px grey;
}

.carousel-text{
  color:white;
  font-size:32px;
}

.carousel-icon {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

#far-left {
  left: 15%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  opacity: 0.2;
  background-color: #002339;
}

#left {
  left: 30%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  opacity:0.5;
  background-color: #024785;
}

#center {
  left: 50%;
  transform: scale(1.05) translateY(0%) translateX(-50%);
  opacity:0.9;
  z-index: 15;
}

#right {
  left: 70%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  opacity:0.5;
  background-color: #024785;
}

#far-right {
  left: 80%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  opacity:0.2;
  background-color: #002339;
}

ul{
  list-style-type:none;
}

p{
  display:block;
}

nav{
  display:block;
}

li{
  display:inline-block;
}